/*
#header.callout {  }
meaning: Select the element which has an ID of 
header and also a class name of callout.


#header .callout { }
meaning: Select all elements with the class name 
callout that are decendents of the element with 
an ID of header.


*/

:root {
   --dark: #1c2c59;
   --darker: #12214a;
   --darkest: #010B29;
   --gray: #bdbdbd;
   --light: #dcdcdc;
   --pink: #B40FC4;
   --purple: #6D0FC4;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--dark);
    color: var(--light);
    margin: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { 
    font-size: 2.5rem; 
    font-weight: 600;
}

h2 { 
    margin-bottom: 20px; 
    max-width: 750px;
    width: 100%;
}

header {
    margin-bottom: 40px;
}

header #new-task-input {
    background-color: var(--darker);
    padding: 20px;
    width: 650px;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--light);
    border: none;
}

header #new-task-submit {    
    border: none;
    margin-left: 20px;
    background-color: transparent;
    color: var(--light);
    font-size: 1.2rem;
    cursor: pointer;
}

#tasks-container {
    max-width: 750px;
    width: 100%;
 }

.task {
    display: flex;
    max-width: 750px;
    width: 100%;
    border-radius: 10px;
    align-items: center;
    position: relative;
    background-color: var(--darker);
    margin-bottom: 15px;
}

.task .task-content {
    padding: 20px;
    width: 78%;
    border-radius: 10px;
    background: none;
    overflow-wrap: break-word;
    color: var(--light);
    font-size: 1.1rem;
}

.divider {
    border: 1px solid var(--gray);
    height: 20px;
}

.task .actions {
    margin-left: auto;
    border: none;
    width: 165px;
    display: flex;
    justify-content: space-evenly;
}

.task .actions button {
    background: none;
    border: none;
    color: var(--light);
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px;
}

.hide { display: none; }

.task .actions button:hover {
    color: white; 
    border-color: 1px solid white;
    border-radius: 5px;
    padding: 4px;
    border: 1px solid white;
}

#tasks-container .task .actions .disabled {
    color: gray;
    padding: 5px;
}

#tasks-container .task .actions .disabled:hover {
    cursor: not-allowed;
    border: none;
}